/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {}
h1 {
	font-size: 2em;
}
/*********************
LAYOUT & GRID STYLES
*********************/

.wrap, #tribe-events-pg-template {
    max-width: 1020px;
    width: 96%;
}
.stack-group {
  padding: 1em 2em 1em 0;
}
  .t-all {
    width: 100%;
    //padding-right: 0;
  }

  .t-1of2 {
     width: 48.75%;
  }

  .t-1of3 {
    width: 31.499%;
  }

  .t-2of3 {
    width: 66.001%;
  }

  .t-1of4 {
    width: 22.875%;
  }

  .t-3of4 {
    width: 74.625%;
  }

  .t-1of5 {
    width: 18%;
  }

  .t-2of5 {
    width: 36%;
  }

  .t-3of5 {
    width: 54%;
  }

  .t-4of5 {
    width: 72%;
  }
.last-col {
  float: right;
  margin-right: 0 !important;
}
.columns2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
}
/*********************
HEADER STYLES
*********************/

.site-header{
    #inner-header {
        max-height: 96px;
    }
    &.search {
        #inner-header {
           max-height: 162px; 
        }
    }
	.site-identity {
		padding: 0;
		background: transparent;
		h1 {
			font-size: 1.8em;
			line-height: 1.2em;
			margin: 0.5em 0 0;
		}
		.site-tagline {
			font-size: 0.9em;
			line-height: 1.7em;
		}
	}
	#search-container {
        clear: both;
		margin: 0 auto 1em;
        padding-top: 0.5em;
        max-width: 936px;
        float: none;
	}
    #closemenu {
        width: 26px;
        &:before {
            padding-right: 10px;
            font-size: 21px;
        }
    }
		
}

/*********************
NAVIGATION STYLES
*********************/
.header-links {
	float: right !important;
	margin: 1.8em 0 1.3em;
    max-width: none;
}
.header-link {
	font-size: 0.8em;
    line-height: 24px;
    &:before {
        font-size: 21px;
        line-height: 24px;
	}
    &:hover, &:focus, &.open {
        &:before {
            font-size: 24px;
        }
    }
}
.header-link.live {
    &:before {
        font-size: 23px;
	}
    &:hover, &:focus, &.open {
        &:before {
            font-size: 26px;
        }
    }
}
.header-link.more {
    &:before {
        font-size: 19px;
	}
    &:hover, &:focus, &.open {
        &:before {
            font-size: 21px;
        }
    }
}
.primary-navigation, .primary-navigation-live {
	.nav-menu {
        .top-level > a {
            margin: 0 0 6px;
        }
		li {
            
            font-family: inherit;
            .sub-menu {
                margin-bottom: 0;
            }
            ul.sub-menu,
			ul.children {
				li {
                    width: 32.7%;
					a {
						line-height: 1;
                        height: 3.5em;
                        padding: 1em;
						&:before {
							font-size:48px;
							line-height: 0.5;			
                        }/* end .submenu li a before */
					}/* end ul.submenu li a */
                    ul {
                        li {
                            width: 100%;
                            a {
                                height: 3.3em;
                            }
                            &.tall {
                                a {
                                    height: 5em;
                                }
                            }
                        }
                    }
				}
			}
		} /* end .menu li */
        .half {
            width: 49.7%;
            float: left;
            &.first {
                margin-right: 0.3%;
            }
            &.last {
                margin-left: 0.3%;
            }
        }
	} /* end .nav-menu */
} /* end .primary-navigation */
#learner-menu {
    .nav-menu {
		li {
            ul.sub-menu,
			ul.children {
				li {
                    width: 24.4%;
                    ul {
                        li {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
.upcoming {
	padding: 1em 2em;
	#settlement-menu {
		width: 100%;
		padding: 1em;
		.top-level > a {
			display: none;
		}
	}
}

.tertiary-navigation.articles, .widget.widget_nav_menu {
	li {
		&.current, &.current-menu-item {
			&:after {
				border-bottom: 12px solid transparent;
				border-left: 12px solid $light-gray;
				border-top: 12px solid transparent;
				top: 25%;
				content: "";
				height: 0;
				position: absolute;
				right: -11px;
				width: 0;
			}
		}
	}
}

.footer-navigation {
	.nav-menu {
		
		ul.sub-menu {
			height: auto;
			overflow: inherit;
			li {
				a {
					padding: 0.1em;
					
				}
			}
		}
	}
}
/***************
ALERTS
**********************/
@keyframes slidein {
    0% {margin-right: -800px;}
    50% {margin-right: -800px;}
    100% {margin-right: 0;}
}
.important-notice {
    animation-name: slidein;
    max-width: 700px;
    p {
    }
    .orange-btn {
    }
}
/*********************
CONTENT
*********************/
.page .content-wrap-mobile {
	display: none;
}
.page .content-wrap, .content-wrap, .single .content-wrap, .single-sfwd-lessons .content-wrap, .single-sfwd-topic .content-wrap {
     background-image: url(../images/winter-sunset.jpg);
     .site-footer {
        &:after {
            content:'Photo: adapted from image by Nika1777, on Pixabay, CC0. See Copyright page for details.';
        }
     }
}
.single-sfwd-courses .content-wrap, .single-themepage .content-wrap, .single-article .content-wrap, .page-template-page-learning-options-child .content-wrap {
    background-image: url(../images/winter-lake.jpg);
    .site-footer {
        &:after {
            content:'Photo: adapted from image by LTapsaH, on Pixabay, CC0. See Copyright page for details.';
        }
    }
}
.page-template-page-learning-type .content-wrap {
     background-image: url(../images/winter-lake.jpg);
    .site-footer {
        &:after {
            content:'Photo: adapted from image by LTapsaH, on Pixabay, CC0. See Copyright page for details.';
        }
     }
}
.home .content-wrap {
    background-image: url(../images/skating2.jpg);
    .site-footer {
        &:after {
            content:'Photo: adapted from image by clicjeroen, on Pixabay, CC0. See Copyright page for details.';
        }
    }
}
.content-wrap  {
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}
.search {
	.hentry {
		padding: 1.5em 2.5em;
		&.article, &.sfwd-courses, &.sfwd-lessons, &.sfwd-topic, &.tribe-article, &.sfwd-quiz, &.themepage {
			padding: 1.5em 2.5em;
		}
	}
}
#content .post-grid, .page-template-page-profile #content .post-grid, .page-template-page-my-articles #content .post-grid {
	width:48%;
	margin: 1%;
	float: left;
    height: 288px;
	h4 {
		height: 2.8em;
	}
}
#content .after-event .post-grid {
    height: 230px;
}
.hentry {
	&.article, &.sfwd-courses, &.sfwd-lessons, &.sfwd-topic, &.type-post, &.tribe-article, &.sfwd-quiz, &.type-attachment {
		padding: 1.5em 2.5em;
	}
}
.entry-content {
    blockquote {
        margin: 2em;
    }
}
.theme-intro {
	.t-2of3, .d-3of4 {
		& > * {
			margin-right: 2em;
		}
	}
}
.home {
    #content .post-grid {
		height: 298px;
	    &.coffee-chat {
		 height: 298px;
	    }
	}
	#content .hero {
        padding: 0;
        margin: 3em auto;
        .t-1of2, d-1of2, .t-1of3, .d-1of3, .t-2of3, .d-2of3 {
            padding: 2.4em 2.4em 2em;
            
            &:last-child {
                border-top: 0 none;
                margin-top: 0;
            }
            &:first-child {
                border-right: 1px solid $tan;
            }
        }
        .t-1of2, d-1of2 {
            width: 50%;
        }
        .t-1of3, .d-1of3 {
            width: 33.33%;
        }
        .t-2of3, .d-2of3 {
            width: 66.66%;
        }
        .login-username {
            margin: 0;
        }
        &:before, &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-image: url(../images/skating2.jpg);
            background-position: center top;
            background-attachment: fixed;
            background-size: cover;
            content: "";
            opacity: 0.7;
            filter: blur(8px);
            -webkit-filter: blur(8px);
            -moz-filter: blur(8px);
            -o-filter: blur(8px);
            -ms-filter: blur(8px);
            
        }
        a.learn-more {
            //color: $white !important;
            //text-shadow: 0 2px 10px $theme-transluc-ll;
            &:hover, &:focus {
               // color: $link-color-hf !important;
            }
        }
	}
	aside {
		margin-bottom: 3.5%;
	}
    #content .upcoming {
        padding: 0 0 1em;
        section {
            padding: 3em 0;
        }
    }
}
.ie.home #content .hero {
        background-color: #ddd;
    &:before, &::before {
        opacity: 0.4;
    }
}
.gallery-columns-2, .gallery-columns-3 {
    dl {
        width: 47%;
        margin: 1.5%;
        float: left;
    }
}
.gallery-columns-4 {
    dl {
        width: 30%;
        margin: 1.5%;
        float: left;
    }
}

/*********************
SIDEBARS & ASIDES
*********************/
.important-notice {
    float: right;
}

/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.site-footer {
    &:after {
            padding: 1em;
            display: block;
            text-align: center;
        }
}
.copyright {
	margin-top: 3.8em;
    text-align: right;
}
.translate-group {
    -webkit-column-break-after: always;
    break-after: always;
}

/*********************
PLUGIN OVERWRITES
*********************/
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-] {
	background-color: $theme-transluc;
}
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-]>a {
	background-color: transparent;
}